/dataset/
*.txt
*.csv
*.jsonl
*.parquet

/missions/W4/W4M2/uber.ipynb
/missions/W4/W4M2/yellow.ipynb
!/missions/W4/W4M1/output/pi_result/part-00000-45ec081c-478b-41ab-a49e-f2d3af6e9b8d-c000.csv
/missions/mini_project/test.ipynb
/missions/mini_project/per90_bota_html_files/
/missions/mini_project/per90_stats/
/missions/mini_project/per90_goias_html_files/
/missions/mini_project/per90_jbhd_html_files/
/missions/mini_project/per90_liverpool_html_files/
/missions/mini_project/per90_remo_html_files/
/missions/mini_project/stat.zip
output/
data/